.container {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.active {
  bottom: 0;
  opacity: 1;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--bg-color);
  background-color: var(--color);
}

.count {
  width: 120px;
  text-align: center;
}
