.passwordContainer {
  display: block;
  height: 74px;
}

.passwordStrength {
  width: 100%;
  height: 4px;
  background-color: azure;
  transition: 0.3s;
  opacity: 0;
}

.passwordStrengthActive {
  opacity: 1;
}

.progress {
  width: 100%;
  height: 4px;
  background-color: rgb(44, 168, 168);
}

.length1 {
  width: 75%;
}

.length2 {
  width: 50%;
}

.length3 {
  width: 25%;
}

.length4 {
  width: 0%;
}

.passwordText {
  font-size: 12px;
}
