.search {
  display: flex;
  margin: 1rem 0;
}

.form {
  display: contents;
}

.input {
  flex: 1;
  margin-right: 1rem;
}

.input::-webkit-search-cancel-button {
  position: relative;
  right: 0.5rem;
}
